# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# VCS
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Build / cache
*.egg-info
dist/
build/
